@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>

<p>The App is designed to scrape and extract information corresponding to any given user from different social media platforms and display the results.</p>
